@function retina-size($value) {
  @return floor($value / 2);
}

@mixin retina-bg-size($spriteWidth, $spriteHeight) {
  background-size: floor($spriteWidth / 2) floor($spriteHeight / 2);
}

.iti-flag {
  $item-width-maps: (ac: 80px, ad: 80px, ae: 80px, af: 80px, ag: 80px, ai: 80px, al: 80px, am: 80px, ao: 80px, aq: 80px, ar: 80px, as: 80px, at: 80px, au: 80px, aw: 80px, ax: 80px, az: 80px, ba: 80px, bb: 80px, bd: 80px, be: 69px, bf: 80px, bg: 80px, bh: 80px, bi: 80px, bj: 80px, bl: 80px, bm: 80px, bn: 80px, bo: 80px, bq: 80px, br: 80px, bs: 80px, bt: 80px, bv: 80px, bw: 80px, by: 80px, bz: 80px, ca: 80px, cc: 80px, cd: 80px, cf: 80px, cg: 80px, ch: 60px, ci: 80px, ck: 80px, cl: 80px, cm: 80px, cn: 80px, co: 80px, cp: 80px, cr: 80px, cu: 80px, cv: 80px, cw: 80px, cx: 80px, cy: 80px, cz: 80px, de: 80px, dg: 80px, dj: 80px, dk: 80px, dm: 80px, do: 80px, dz: 80px, ea: 80px, ec: 80px, ee: 80px, eg: 80px, eh: 80px, er: 80px, es: 80px, et: 80px, eu: 80px, fi: 80px, fj: 80px, fk: 80px, fm: 80px, fo: 80px, fr: 80px, ga: 80px, gb: 80px, gd: 80px, ge: 80px, gf: 80px, gg: 80px, gh: 80px, gi: 80px, gl: 80px, gm: 80px, gn: 80px, gp: 80px, gq: 80px, gr: 80px, gs: 80px, gt: 80px, gu: 80px, gw: 80px, gy: 80px, hk: 80px, hm: 80px, hn: 80px, hr: 80px, ht: 80px, hu: 80px, ic: 80px, id: 80px, ie: 80px, il: 80px, im: 80px, in: 80px, io: 80px, iq: 80px, ir: 80px, is: 80px, it: 80px, je: 80px, jm: 80px, jo: 80px, jp: 80px, ke: 80px, kg: 80px, kh: 80px, ki: 80px, km: 80px, kn: 80px, kp: 80px, kr: 80px, kw: 80px, ky: 80px, kz: 80px, la: 80px, lb: 80px, lc: 80px, li: 80px, lk: 80px, lr: 80px, ls: 80px, lt: 80px, lu: 80px, lv: 80px, ly: 80px, ma: 80px, mc: 75px, md: 80px, me: 80px, mf: 80px, mg: 80px, mh: 80px, mk: 80px, ml: 80px, mm: 80px, mn: 80px, mo: 80px, mp: 80px, mq: 80px, mr: 80px, ms: 80px, mt: 80px, mu: 80px, mv: 80px, mw: 80px, mx: 80px, my: 80px, mz: 80px, na: 80px, nc: 80px, ne: 70px, nf: 80px, ng: 80px, ni: 80px, nl: 80px, no: 80px, np: 49px, nr: 80px, nu: 80px, nz: 80px, om: 80px, pa: 80px, pe: 80px, pf: 80px, pg: 80px, ph: 80px, pk: 80px, pl: 80px, pm: 80px, pn: 80px, pr: 80px, ps: 80px, pt: 80px, pw: 80px, py: 80px, qa: 80px, re: 80px, ro: 80px, rs: 80px, ru: 80px, rw: 80px, sa: 80px, sb: 80px, sc: 80px, sd: 80px, se: 80px, sg: 80px, sh: 80px, si: 80px, sj: 80px, sk: 80px, sl: 80px, sm: 80px, sn: 80px, so: 80px, sr: 80px, ss: 80px, st: 80px, sv: 80px, sx: 80px, sy: 80px, sz: 80px, ta: 80px, tc: 80px, td: 80px, tf: 80px, tg: 80px, th: 80px, tj: 80px, tk: 80px, tl: 80px, tm: 80px, tn: 80px, to: 80px, tr: 80px, tt: 80px, tv: 80px, tw: 80px, tz: 80px, ua: 80px, ug: 80px, um: 80px, us: 80px, uy: 80px, uz: 80px, va: 60px, vc: 80px, ve: 80px, vg: 80px, vi: 80px, vn: 80px, vu: 80px, wf: 80px, ws: 80px, xk: 80px, ye: 80px, yt: 80px, za: 80px, zm: 80px, zw: 80px, );
  $standard-country: 'ac';
  width: map-get($item-width-maps, $standard-country);

  @each $key, $width in $item-width-maps {
    @if $width != map-get($item-width-maps, $standard-country) {
      &.#{$key} {
        width: $width;
      }
    }
  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-size: 20975px 60px;
  }

  &.ac {
    height: 40px;
    background-position: 0px 0px;
  }
  &.ad {
    height: 56px;
    background-position: -82px 0px;
  }
  &.ae {
    height: 40px;
    background-position: -164px 0px;
  }
  &.af {
    height: 54px;
    background-position: -246px 0px;
  }
  &.ag {
    height: 54px;
    background-position: -328px 0px;
  }
  &.ai {
    height: 40px;
    background-position: -410px 0px;
  }
  &.al {
    height: 57px;
    background-position: -492px 0px;
  }
  &.am {
    height: 40px;
    background-position: -574px 0px;
  }
  &.ao {
    height: 54px;
    background-position: -656px 0px;
  }
  &.aq {
    height: 54px;
    background-position: -738px 0px;
  }
  &.ar {
    height: 50px;
    background-position: -820px 0px;
  }
  &.as {
    height: 40px;
    background-position: -902px 0px;
  }
  &.at {
    height: 54px;
    background-position: -984px 0px;
  }
  &.au {
    height: 40px;
    background-position: -1066px 0px;
  }
  &.aw {
    height: 54px;
    background-position: -1148px 0px;
  }
  &.ax {
    height: 53px;
    background-position: -1230px 0px;
  }
  &.az {
    height: 40px;
    background-position: -1312px 0px;
  }
  &.ba {
    height: 40px;
    background-position: -1394px 0px;
  }
  &.bb {
    height: 54px;
    background-position: -1476px 0px;
  }
  &.bd {
    height: 48px;
    background-position: -1558px 0px;
  }
  &.be {
    height: 60px;
    background-position: -1640px 0px;
  }
  &.bf {
    height: 54px;
    background-position: -1711px 0px;
  }
  &.bg {
    height: 48px;
    background-position: -1793px 0px;
  }
  &.bh {
    height: 48px;
    background-position: -1875px 0px;
  }
  &.bi {
    height: 48px;
    background-position: -1957px 0px;
  }
  &.bj {
    height: 54px;
    background-position: -2039px 0px;
  }
  &.bl {
    height: 54px;
    background-position: -2121px 0px;
  }
  &.bm {
    height: 40px;
    background-position: -2203px 0px;
  }
  &.bn {
    height: 40px;
    background-position: -2285px 0px;
  }
  &.bo {
    height: 55px;
    background-position: -2367px 0px;
  }
  &.bq {
    height: 54px;
    background-position: -2449px 0px;
  }
  &.br {
    height: 56px;
    background-position: -2531px 0px;
  }
  &.bs {
    height: 40px;
    background-position: -2613px 0px;
  }
  &.bt {
    height: 54px;
    background-position: -2695px 0px;
  }
  &.bv {
    height: 58px;
    background-position: -2777px 0px;
  }
  &.bw {
    height: 54px;
    background-position: -2859px 0px;
  }
  &.by {
    height: 40px;
    background-position: -2941px 0px;
  }
  &.bz {
    height: 54px;
    background-position: -3023px 0px;
  }
  &.ca {
    height: 40px;
    background-position: -3105px 0px;
  }
  &.cc {
    height: 40px;
    background-position: -3187px 0px;
  }
  &.cd {
    height: 60px;
    background-position: -3269px 0px;
  }
  &.cf {
    height: 54px;
    background-position: -3351px 0px;
  }
  &.cg {
    height: 54px;
    background-position: -3433px 0px;
  }
  &.ch {
    height: 60px;
    background-position: -3515px 0px;
  }
  &.ci {
    height: 54px;
    background-position: -3577px 0px;
  }
  &.ck {
    height: 40px;
    background-position: -3659px 0px;
  }
  &.cl {
    height: 54px;
    background-position: -3741px 0px;
  }
  &.cm {
    height: 54px;
    background-position: -3823px 0px;
  }
  &.cn {
    height: 54px;
    background-position: -3905px 0px;
  }
  &.co {
    height: 54px;
    background-position: -3987px 0px;
  }
  &.cp {
    height: 54px;
    background-position: -4069px 0px;
  }
  &.cr {
    height: 48px;
    background-position: -4151px 0px;
  }
  &.cu {
    height: 40px;
    background-position: -4233px 0px;
  }
  &.cv {
    height: 47px;
    background-position: -4315px 0px;
  }
  &.cw {
    height: 54px;
    background-position: -4397px 0px;
  }
  &.cx {
    height: 40px;
    background-position: -4479px 0px;
  }
  &.cy {
    height: 53px;
    background-position: -4561px 0px;
  }
  &.cz {
    height: 54px;
    background-position: -4643px 0px;
  }
  &.de {
    height: 48px;
    background-position: -4725px 0px;
  }
  &.dg {
    height: 40px;
    background-position: -4807px 0px;
  }
  &.dj {
    height: 54px;
    background-position: -4889px 0px;
  }
  &.dk {
    height: 60px;
    background-position: -4971px 0px;
  }
  &.dm {
    height: 40px;
    background-position: -5053px 0px;
  }
  &.do {
    height: 50px;
    background-position: -5135px 0px;
  }
  &.dz {
    height: 54px;
    background-position: -5217px 0px;
  }
  &.ea {
    height: 54px;
    background-position: -5299px 0px;
  }
  &.ec {
    height: 54px;
    background-position: -5381px 0px;
  }
  &.ee {
    height: 51px;
    background-position: -5463px 0px;
  }
  &.eg {
    height: 54px;
    background-position: -5545px 0px;
  }
  &.eh {
    height: 40px;
    background-position: -5627px 0px;
  }
  &.er {
    height: 40px;
    background-position: -5709px 0px;
  }
  &.es {
    height: 54px;
    background-position: -5791px 0px;
  }
  &.et {
    height: 40px;
    background-position: -5873px 0px;
  }
  &.eu {
    height: 54px;
    background-position: -5955px 0px;
  }
  &.fi {
    height: 49px;
    background-position: -6037px 0px;
  }
  &.fj {
    height: 40px;
    background-position: -6119px 0px;
  }
  &.fk {
    height: 40px;
    background-position: -6201px 0px;
  }
  &.fm {
    height: 42px;
    background-position: -6283px 0px;
  }
  &.fo {
    height: 58px;
    background-position: -6365px 0px;
  }
  &.fr {
    height: 54px;
    background-position: -6447px 0px;
  }
  &.ga {
    height: 60px;
    background-position: -6529px 0px;
  }
  &.gb {
    height: 40px;
    background-position: -6611px 0px;
  }
  &.gd {
    height: 48px;
    background-position: -6693px 0px;
  }
  &.ge {
    height: 54px;
    background-position: -6775px 0px;
  }
  &.gf {
    height: 54px;
    background-position: -6857px 0px;
  }
  &.gg {
    height: 54px;
    background-position: -6939px 0px;
  }
  &.gh {
    height: 54px;
    background-position: -7021px 0px;
  }
  &.gi {
    height: 40px;
    background-position: -7103px 0px;
  }
  &.gl {
    height: 54px;
    background-position: -7185px 0px;
  }
  &.gm {
    height: 54px;
    background-position: -7267px 0px;
  }
  &.gn {
    height: 54px;
    background-position: -7349px 0px;
  }
  &.gp {
    height: 54px;
    background-position: -7431px 0px;
  }
  &.gq {
    height: 54px;
    background-position: -7513px 0px;
  }
  &.gr {
    height: 54px;
    background-position: -7595px 0px;
  }
  &.gs {
    height: 40px;
    background-position: -7677px 0px;
  }
  &.gt {
    height: 50px;
    background-position: -7759px 0px;
  }
  &.gu {
    height: 43px;
    background-position: -7841px 0px;
  }
  &.gw {
    height: 40px;
    background-position: -7923px 0px;
  }
  &.gy {
    height: 48px;
    background-position: -8005px 0px;
  }
  &.hk {
    height: 54px;
    background-position: -8087px 0px;
  }
  &.hm {
    height: 40px;
    background-position: -8169px 0px;
  }
  &.hn {
    height: 40px;
    background-position: -8251px 0px;
  }
  &.hr {
    height: 40px;
    background-position: -8333px 0px;
  }
  &.ht {
    height: 48px;
    background-position: -8415px 0px;
  }
  &.hu {
    height: 40px;
    background-position: -8497px 0px;
  }
  &.ic {
    height: 54px;
    background-position: -8579px 0px;
  }
  &.id {
    height: 54px;
    background-position: -8661px 0px;
  }
  &.ie {
    height: 40px;
    background-position: -8743px 0px;
  }
  &.il {
    height: 58px;
    background-position: -8825px 0px;
  }
  &.im {
    height: 40px;
    background-position: -8907px 0px;
  }
  &.in {
    height: 54px;
    background-position: -8989px 0px;
  }
  &.io {
    height: 40px;
    background-position: -9071px 0px;
  }
  &.iq {
    height: 54px;
    background-position: -9153px 0px;
  }
  &.ir {
    height: 46px;
    background-position: -9235px 0px;
  }
  &.is {
    height: 58px;
    background-position: -9317px 0px;
  }
  &.it {
    height: 54px;
    background-position: -9399px 0px;
  }
  &.je {
    height: 48px;
    background-position: -9481px 0px;
  }
  &.jm {
    height: 40px;
    background-position: -9563px 0px;
  }
  &.jo {
    height: 40px;
    background-position: -9645px 0px;
  }
  &.jp {
    height: 54px;
    background-position: -9727px 0px;
  }
  &.ke {
    height: 54px;
    background-position: -9809px 0px;
  }
  &.kg {
    height: 48px;
    background-position: -9891px 0px;
  }
  &.kh {
    height: 51px;
    background-position: -9973px 0px;
  }
  &.ki {
    height: 40px;
    background-position: -10055px 0px;
  }
  &.km {
    height: 48px;
    background-position: -10137px 0px;
  }
  &.kn {
    height: 54px;
    background-position: -10219px 0px;
  }
  &.kp {
    height: 40px;
    background-position: -10301px 0px;
  }
  &.kr {
    height: 54px;
    background-position: -10383px 0px;
  }
  &.kw {
    height: 40px;
    background-position: -10465px 0px;
  }
  &.ky {
    height: 40px;
    background-position: -10547px 0px;
  }
  &.kz {
    height: 40px;
    background-position: -10629px 0px;
  }
  &.la {
    height: 54px;
    background-position: -10711px 0px;
  }
  &.lb {
    height: 54px;
    background-position: -10793px 0px;
  }
  &.lc {
    height: 40px;
    background-position: -10875px 0px;
  }
  &.li {
    height: 48px;
    background-position: -10957px 0px;
  }
  &.lk {
    height: 40px;
    background-position: -11039px 0px;
  }
  &.lr {
    height: 42px;
    background-position: -11121px 0px;
  }
  &.ls {
    height: 54px;
    background-position: -11203px 0px;
  }
  &.lt {
    height: 48px;
    background-position: -11285px 0px;
  }
  &.lu {
    height: 48px;
    background-position: -11367px 0px;
  }
  &.lv {
    height: 40px;
    background-position: -11449px 0px;
  }
  &.ly {
    height: 40px;
    background-position: -11531px 0px;
  }
  &.ma {
    height: 54px;
    background-position: -11613px 0px;
  }
  &.mc {
    height: 60px;
    background-position: -11695px 0px;
  }
  &.md {
    height: 40px;
    background-position: -11772px 0px;
  }
  &.me {
    height: 40px;
    background-position: -11854px 0px;
  }
  &.mf {
    height: 54px;
    background-position: -11936px 0px;
  }
  &.mg {
    height: 54px;
    background-position: -12018px 0px;
  }
  &.mh {
    height: 42px;
    background-position: -12100px 0px;
  }
  &.mk {
    height: 40px;
    background-position: -12182px 0px;
  }
  &.ml {
    height: 54px;
    background-position: -12264px 0px;
  }
  &.mm {
    height: 54px;
    background-position: -12346px 0px;
  }
  &.mn {
    height: 40px;
    background-position: -12428px 0px;
  }
  &.mo {
    height: 54px;
    background-position: -12510px 0px;
  }
  &.mp {
    height: 40px;
    background-position: -12592px 0px;
  }
  &.mq {
    height: 54px;
    background-position: -12674px 0px;
  }
  &.mr {
    height: 54px;
    background-position: -12756px 0px;
  }
  &.ms {
    height: 40px;
    background-position: -12838px 0px;
  }
  &.mt {
    height: 54px;
    background-position: -12920px 0px;
  }
  &.mu {
    height: 54px;
    background-position: -13002px 0px;
  }
  &.mv {
    height: 54px;
    background-position: -13084px 0px;
  }
  &.mw {
    height: 54px;
    background-position: -13166px 0px;
  }
  &.mx {
    height: 46px;
    background-position: -13248px 0px;
  }
  &.my {
    height: 40px;
    background-position: -13330px 0px;
  }
  &.mz {
    height: 54px;
    background-position: -13412px 0px;
  }
  &.na {
    height: 54px;
    background-position: -13494px 0px;
  }
  &.nc {
    height: 40px;
    background-position: -13576px 0px;
  }
  &.ne {
    height: 60px;
    background-position: -13658px 0px;
  }
  &.nf {
    height: 40px;
    background-position: -13730px 0px;
  }
  &.ng {
    height: 40px;
    background-position: -13812px 0px;
  }
  &.ni {
    height: 48px;
    background-position: -13894px 0px;
  }
  &.nl {
    height: 54px;
    background-position: -13976px 0px;
  }
  &.no {
    height: 58px;
    background-position: -14058px 0px;
  }
  &.np {
    height: 60px;
    background-position: -14140px 0px;
  }
  &.nr {
    height: 40px;
    background-position: -14191px 0px;
  }
  &.nu {
    height: 40px;
    background-position: -14273px 0px;
  }
  &.nz {
    height: 40px;
    background-position: -14355px 0px;
  }
  &.om {
    height: 40px;
    background-position: -14437px 0px;
  }
  &.pa {
    height: 54px;
    background-position: -14519px 0px;
  }
  &.pe {
    height: 54px;
    background-position: -14601px 0px;
  }
  &.pf {
    height: 54px;
    background-position: -14683px 0px;
  }
  &.pg {
    height: 60px;
    background-position: -14765px 0px;
  }
  &.ph {
    height: 40px;
    background-position: -14847px 0px;
  }
  &.pk {
    height: 54px;
    background-position: -14929px 0px;
  }
  &.pl {
    height: 50px;
    background-position: -15011px 0px;
  }
  &.pm {
    height: 54px;
    background-position: -15093px 0px;
  }
  &.pn {
    height: 40px;
    background-position: -15175px 0px;
  }
  &.pr {
    height: 54px;
    background-position: -15257px 0px;
  }
  &.ps {
    height: 40px;
    background-position: -15339px 0px;
  }
  &.pt {
    height: 54px;
    background-position: -15421px 0px;
  }
  &.pw {
    height: 50px;
    background-position: -15503px 0px;
  }
  &.py {
    height: 44px;
    background-position: -15585px 0px;
  }
  &.qa {
    height: 32px;
    background-position: -15667px 0px;
  }
  &.re {
    height: 54px;
    background-position: -15749px 0px;
  }
  &.ro {
    height: 54px;
    background-position: -15831px 0px;
  }
  &.rs {
    height: 54px;
    background-position: -15913px 0px;
  }
  &.ru {
    height: 54px;
    background-position: -15995px 0px;
  }
  &.rw {
    height: 54px;
    background-position: -16077px 0px;
  }
  &.sa {
    height: 54px;
    background-position: -16159px 0px;
  }
  &.sb {
    height: 40px;
    background-position: -16241px 0px;
  }
  &.sc {
    height: 40px;
    background-position: -16323px 0px;
  }
  &.sd {
    height: 40px;
    background-position: -16405px 0px;
  }
  &.se {
    height: 50px;
    background-position: -16487px 0px;
  }
  &.sg {
    height: 54px;
    background-position: -16569px 0px;
  }
  &.sh {
    height: 40px;
    background-position: -16651px 0px;
  }
  &.si {
    height: 40px;
    background-position: -16733px 0px;
  }
  &.sj {
    height: 58px;
    background-position: -16815px 0px;
  }
  &.sk {
    height: 54px;
    background-position: -16897px 0px;
  }
  &.sl {
    height: 54px;
    background-position: -16979px 0px;
  }
  &.sm {
    height: 60px;
    background-position: -17061px 0px;
  }
  &.sn {
    height: 54px;
    background-position: -17143px 0px;
  }
  &.so {
    height: 54px;
    background-position: -17225px 0px;
  }
  &.sr {
    height: 54px;
    background-position: -17307px 0px;
  }
  &.ss {
    height: 40px;
    background-position: -17389px 0px;
  }
  &.st {
    height: 40px;
    background-position: -17471px 0px;
  }
  &.sv {
    height: 45px;
    background-position: -17553px 0px;
  }
  &.sx {
    height: 54px;
    background-position: -17635px 0px;
  }
  &.sy {
    height: 54px;
    background-position: -17717px 0px;
  }
  &.sz {
    height: 54px;
    background-position: -17799px 0px;
  }
  &.ta {
    height: 40px;
    background-position: -17881px 0px;
  }
  &.tc {
    height: 40px;
    background-position: -17963px 0px;
  }
  &.td {
    height: 54px;
    background-position: -18045px 0px;
  }
  &.tf {
    height: 54px;
    background-position: -18127px 0px;
  }
  &.tg {
    height: 50px;
    background-position: -18209px 0px;
  }
  &.th {
    height: 54px;
    background-position: -18291px 0px;
  }
  &.tj {
    height: 40px;
    background-position: -18373px 0px;
  }
  &.tk {
    height: 40px;
    background-position: -18455px 0px;
  }
  &.tl {
    height: 40px;
    background-position: -18537px 0px;
  }
  &.tm {
    height: 54px;
    background-position: -18619px 0px;
  }
  &.tn {
    height: 54px;
    background-position: -18701px 0px;
  }
  &.to {
    height: 40px;
    background-position: -18783px 0px;
  }
  &.tr {
    height: 54px;
    background-position: -18865px 0px;
  }
  &.tt {
    height: 48px;
    background-position: -18947px 0px;
  }
  &.tv {
    height: 40px;
    background-position: -19029px 0px;
  }
  &.tw {
    height: 54px;
    background-position: -19111px 0px;
  }
  &.tz {
    height: 54px;
    background-position: -19193px 0px;
  }
  &.ua {
    height: 54px;
    background-position: -19275px 0px;
  }
  &.ug {
    height: 54px;
    background-position: -19357px 0px;
  }
  &.um {
    height: 42px;
    background-position: -19439px 0px;
  }
  &.us {
    height: 42px;
    background-position: -19521px 0px;
  }
  &.uy {
    height: 54px;
    background-position: -19603px 0px;
  }
  &.uz {
    height: 40px;
    background-position: -19685px 0px;
  }
  &.va {
    height: 60px;
    background-position: -19767px 0px;
  }
  &.vc {
    height: 54px;
    background-position: -19829px 0px;
  }
  &.ve {
    height: 54px;
    background-position: -19911px 0px;
  }
  &.vg {
    height: 40px;
    background-position: -19993px 0px;
  }
  &.vi {
    height: 54px;
    background-position: -20075px 0px;
  }
  &.vn {
    height: 54px;
    background-position: -20157px 0px;
  }
  &.vu {
    height: 48px;
    background-position: -20239px 0px;
  }
  &.wf {
    height: 54px;
    background-position: -20321px 0px;
  }
  &.ws {
    height: 40px;
    background-position: -20403px 0px;
  }
  &.xk {
    height: 57px;
    background-position: -20485px 0px;
  }
  &.ye {
    height: 54px;
    background-position: -20567px 0px;
  }
  &.yt {
    height: 54px;
    background-position: -20649px 0px;
  }
  &.za {
    height: 54px;
    background-position: -20731px 0px;
  }
  &.zm {
    height: 54px;
    background-position: -20813px 0px;
  }
  &.zw {
    height: 40px;
    background-position: -20895px 0px;
  }
}
